/* Estiliza a barra de rolagem */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Estiliza o thumb (alça) da barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background-color: #e71a1a;
    border-radius: 3px;
  }
  
  /* Estiliza o thumb quando estiver sendo arrastado/hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #4f0505;
  }
  
  /* Estiliza a trilha (background) da barra de rolagem */
  ::-webkit-scrollbar-track {
    background-color: #e1adad;
  }